<div class="row g_contenedor">

<!--./ Primera columna. Tablero -->
<div class="col col-md-5 col-sm-12">

  <div class="g_tablero">

    <div class="g_tablero_item img11" id="11"></div>
    <div class="g_tablero_item" id="12"></div>
    <div class="g_tablero_item img13" id="13"></div>
    <div class="g_tablero_item img14" id="14"></div>


    <div class="g_tablero_item img21" id="21"></div>
    <div class="g_tablero_item img22" id="22"></div>
    <div class="g_tablero_item img23" id="23"></div>
    <div class="g_tablero_item img24" id="24"></div>


    <div class="g_tablero_item img31" id="31"></div>
    <div class="g_tablero_item" id="32"></div>
    <div class="g_tablero_item img33" id="33"></div>
    <div class="g_tablero_item" id="34"></div>

    <div class="g_tablero_item img41" id="41"></div>
    <div class="g_tablero_item img42" id="42"></div>
    <div class="g_tablero_item img43" id="43"></div>
    <div class="g_tablero_item img44" id="44"></div>

  </div>

<a href="/juego" class="btn btn-success mt-2">START</a>

</div><!--./ Cerramos primera columna -->

<!--./ Segunda columna. Flechas -->
<div class="col col-md-7 col-sm-12">
  <a href (click)="girando( casillaInicial, posicionGiro, '-'); false;">
    <i class="fas fa-undo-alt"></i>
  </a>&nbsp;
  <a href (click)="girando( casillaInicial, posicionGiro, '+'); false;">
    <i class="fas fa-redo-alt"></i>
  </a> Gira al cazador para orientarlo...<br>

  <a href="" (click)="moving(casillaInicial,casillaFinal,posicionGiro); false;">
    <i class="fas fa-walking"></i><i class="fas fa-chevron-right"></i>
  </a>... y avanza a la siguiente casilla<br>

  <a href="" (click)="dispara(casillaFinal); false;">
    {{numFlechas}}<i class="fas fa-long-arrow-alt-right"></i>
  </a> ¡Dispara al Wumpus!<br>

<div class="mensajes">
Casilla actual:
<div class="mensajeLlegada" id="mensajeLlegada" style="background-color:{{
  colorCasillaLlegada}};">{{ mensajeCasilla }}</div>
Dirección seleccionada:
<div class="mensajeLlegada" id="mensajeDireccion" style="background-color:{{colorCasilla}};">{{ mensajeDireccion }}</div>
</div>
</div><!--./ Cerramos segunda columna -->
</div>
